<!DOCTYPE HTML>

<html>
	<head>
		<title>NeuroVista</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header" class="dark">
				<header>
					<h1>Welcome to NeuroVista</h1>
					<p>An innovation platform for processing, analyzing, and visualizing human brain MR images</p>
				</header>
				<footer>
					<a href="#form" class="button scrolly">Process MRI</a>
				</footer>
			</section>

		<!-- Form -->
			<section id="form" class="main">
				<header>
					<div class="container">
						<h2>Upload & Process MRI Series</h2>
						<p>Please upload & process <b>one</b> MRI series at a time</p>
					</div>
				</header>
				<div class="content style4 featured">
					<div class="container medium">
						<form action="/run_script" method="post">
							<div class="row gtr-50">
								<div class="col-6 col-12-mobile"><input type="text" name="subject" placeholder="Subject" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="series" placeholder="Series" /></div>
								<div class="col-12"><textarea name="notes" placeholder="Notes"></textarea></div>
								<div class="col-12">
									<ul class="actions special">
										<li><input type="file" name="dicoms" class="button" value="Upload Dicoms" multiple/></li>
										<li><input type="submit" class="button alt" value="Process" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>

		<!-- Infos -->
			<section id="infos" class="main">
				<div class="content dark style3">
					<div class="container">
						<div class="row">
							<div class="col-6 col-12-narrow">
								<h3>What is NeuroVista?</h3>
								<p>Neurovista is an open source package for the analysis and visualization of 
								structural, functional, and diffusion neuroimaging data from cross-sectional 
								and longitudinal studies. </p>
							</div>
							<div class="col-6 col-12-narrow">
								<h3>What does it include?</h3>
								<p>A full processing stream for MR imaging data that involves skull-stripping, 
								bias field correction, registration, and anatomical segmentation as well as 
								cortical surface reconstruction, registration, and parcellation. </p>
								<p>Neurovista also includes fMRI and diffusion tractography toolboxes, 
								a robust visualization interface, utilities for statistical group analysis, 
								and much more...</p>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<div class="copyright">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li>
					</ul>
				</div>
			</section>

			<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
	</body>
</html>